<div class='user-text'>
  <p>Post #<%= post.id%></p>

  <p><%= post.text%></p>

  <p class='user-post'>
    Comments:<span><%= post.comments_counter %></span>,
    Likes:<span><%= post.likes_counter %></span>
  </p>
</div>


