<div style="border: 1px solid black; padding-left: 10px; padding-right: 10px;">
  
  <p>Post #<%= post.id%></p>

  <p><%= post.text%></p>

  <p style = "text-align: right;"><span>Comments:<%= post.comments_counter %>, Likes:</span><span><%= post.likes_counter %></span></p>

  
   
</div>

<%# https://images.unsplash.com/photo-1508921912186-1d1a45ebb3c1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80 %>
